* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item ul li {
  border: solid black 2px;
  width: 200px;
  margin: 5px;
  padding: 4px;
}

.gallery {
  display: flex;
  gap: 10px;

  flex-wrap: wrap;
}

.gallery img {
  width: 230px;
  border-radius: 10px;
}

input {
  padding: 12px;
  width: 350px;
  border: solid rgb(86, 82, 82) 2px;
  font-size: 18px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input {
  margin-bottom: 10px;
}

form button,
div button {
  padding: 10px;
  width: 150px;
  background-color: rgb(95, 70, 235);
  color: white;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
}

div p {
  font-size: 20px;
}
